@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-background: var(--background);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1536px;
  --color-blackFontH: #1b1743;
  --color-blackFontP: #2a2f32;
  --color-arrow: #aab6b5;
  --color-border: #d4dbe0;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--color-background);
  /* padding: 120px; */
  @apply xs:px-4 xs:py-8 md:px-10 lg:px-[120px] md:py-10 lg:py-[120px];
}
